body {
  padding: 0;
  margin: 0;
}
  
.home {
  	width: 100%;
  	height: 100%;
  	position: relative;
  	background-color: #000;
  	overflow: hidden;
  	text-align: left;
  	font-size: 56px;
  	color: #fff;
  	font-family: 'Albert Sans';
}
.menu-bar {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	background-color: #000;
  	width: 1440px;
  	height: 96px;
  	text-align: center;
  	font-size: 16px;
}
.pyc-logo-icon {
  	position: absolute;
  	top: 24px;
  	left: 48px;
  	width: 41px;
  	height: 48px;
}
.contact {
  	position: absolute;
  	top: 38px;
  	right: 72px;
  	text-transform: capitalize;
  	font-weight: 500;
}
.newsletter {
  	position: absolute;
  	top: 38px;
  	left: 327px;
  	text-transform: capitalize;
  	font-weight: 500;
}
.our-team {
  	position: absolute;
  	top: 38px;
  	left: 230px;
  	text-transform: capitalize;
  	font-weight: 500;
}
.about {
  	position: absolute;
  	top: 38px;
  	left: 161px;
  	text-transform: capitalize;
  	font-weight: 500;
}
.be-the-change {
  	position: absolute;
  	top: 96px;
  	left: 0px;
  	width: 1440px;
  	height: 432px;
  	overflow: hidden;
}
.image-icon {
  	position: absolute;
  	top: 72px;
  	left: 744px;
  	border-radius: 16px;
  	width: 552px;
  	height: 288px;
  	object-fit: cover;
}
.text {
  	position: absolute;
  	top: 72px;
  	left: 144px;
  	width: 552px;
  	height: 231px;
  	overflow: hidden;
}
.be-the-change2 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
}
.the-papakura-youth {
  	position: absolute;
  	top: 67px;
  	left: 0px;
  	font-size: 24px;
  	display: flex;
  	align-items: center;
  	width: 552px;
}
.learn-more {
  	position: absolute;
  	top: 207px;
  	left: 0px;
  	font-size: 20px;
  	text-decoration: underline;
}
.who-are-we {
  	position: absolute;
  	top: 528px;
  	left: 0px;
  	background-color: #fbd0d0;
  	width: 1440px;
  	height: 432px;
  	overflow: hidden;
  	font-size: 20px;
  	color: #000;
}
.image-icon2 {
  	position: absolute;
  	top: 72px;
  	left: 144px;
  	border-radius: 16px;
  	width: 552px;
  	height: 288px;
  	object-fit: cover;
}
.text2 {
  	position: absolute;
  	top: 72px;
  	left: 744px;
  	width: 552px;
  	height: 202px;
  	overflow: hidden;
}
.meet-the-team {
  	position: absolute;
  	top: 178px;
  	left: 0px;
  	text-decoration: underline;
}
.who-are-we2 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	font-size: 56px;
}
.newsletter2 {
  	position: absolute;
  	top: 960px;
  	left: 0px;
  	width: 1440px;
  	height: 432px;
  	overflow: hidden;
}

